@import './styles/reset';
@import './styles/fonts';
@import './styles/var';

body {
  margin: 0;
  font-family: 'Intro', sans-serif;
  background-color: #fff;
  color: $mainColor;
  overflow-x: hidden;
}